<div id = 'comment2s'>
  <h3><%= @photo.comment2s.count %> Comment2s</h3>
  <hr />
  <% @photo.comment2s.each do |comment2|%>
    <div class = 'comment2'>
    <b>from</b> <%= link_to comment2.user.login, comment2.user %> >
    <b><%=comment2.title %></b>
    <% if comment2.user == @current_user %>
    [
      <%= link_to 'edit', edit_comment2_path(comment2) %>
      <%= link_to 'delete', comment2, :confirm => 'Are you sure?', :method => :delete %>
    ]
    <% end %>
    <br />
    <%= comment2.comment %>
  </div>
  <% end %>
</div> 
