<p id="notice"><%= notice %></p>
<h1> <%= @photo.title %> </h1>
<b>Posted by:</b> <%= link_to @photo.user.login, @photo.user %> |
<% if @current_user == @photo.user%>
 <% end %>
<%= image_tag(@photo.path, :style => "position:absolute;z-index:1;") %><%# Dave: This now allows the images to 'float', over any content. This helps when customizing the layout that might interfere with the template, when a large image is shown. %>
<br />


<br />





<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
<%= render 'comment' %>